html, body{
  margin: 0 auto;
}
header {


}
h1 {
  text-align: center;
}
h2{
  margin : 0;
  background-color:#007BFF;
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px 0;
  width: 100%;
  text-align: center;
}
main {
  padding: 20px 20px;

}
.player {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.player2,.player1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  border:1px solid black;
}
.parameter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  padding: 10px 15px;
  border-radius: 5px;
  margin: 20px;
}
.add{
  background-color:#007bff;
}
.save{
  background-color:#28a745;
}
.reset{
  background-color:#dc3545;
}

.score{
  text-align: center;
  padding: 15px 15px;
  width: 150px;
  height: 150px;
  font-size: 7rem;
  border:3px solid green;

}

input {
  margin: 10px 20px;
  width: 50px;
  text-align: center;
}
.scorecontainer{
  width: 150px;
  height: 150px;
  display: none;
}
.winner{
  background-image: url('../img/winner.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.looser{
  background-image: url('../img/looser.png');
  background-repeat: no-repeat;
  background-size: 100% auto;

}


@media screen and (max-width: 760px){
  .parameter,.player{
    flex-direction: column;
  }
.player2, .player1{
  width: 100%;
}
}
